<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #98eafeff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
.login_box{
    padding: 30px;
    border-radius:8px
    background-color: #c2eaf4ff
    border-box
}
</style>

<body>
    <h2>LOGIN FORM</h2>
    <form action="">
   <div class="login_box">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">password:</label>
    <input type="text"id="password" name="password" required>
    <button type="submit">Login</button>
    </form>
  </div>    
</body>
</html>
